.products{
    display:flex;
    gap: 15px;
}

.home{
    display: block;
    height: 250px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.reviews{
    display: flex;
    align-tracks: center;
    align-items: center;
}

#carouselExampleSlidesOnly{
    align-content: center;
}