*{
    text-align: center;
}

h1{
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: rosybrown;
    font-size: 2rem;
}

h2{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    color:grey;
    font-size: 1rem;
}

h3{
    color: darkgoldenrod;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

p{
    color: crimson;
}

.heading{
    background-color:aquamarine;
    padding-top: 10px;
    padding-bottom: 20px;
}

.movies{
    background-color: burlywood;
    padding-right: 50px;
    align-items: center;
    text-align: center;

}